@model List<Lab27Register.Models.CMS>

@{
    Layout = "_Layout";
}
<form method="get">
    <button asp-controller="Account" asp-action="Register" type="submit">Register</button>
</form>
<form method="get">
    <button asp-controller="Account" asp-action="login" type="submit">Login</button>
    </form>
<form method="get">
    <button asp-controller="CMS" asp-action="Index" type="submit">Add a Game</button>
</form>


@foreach (var item in Model)
{
    <h1>@item.Title</h1>
    <p>@item.Genre</p>
    <p>@item.Content</p>
}
